<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_length" value="0.110" />
  <xacro:property name="base_width" value="0.653" />
  <xacro:property name="base_height" value="0.450" />
  <xacro:property name="base_mass" value="10" />

  <xacro:property name="wheel_radius" value="0.140" />
  <xacro:property name="wheel_width" value="0.170" />
  <xacro:property name="wheel_pos_x" value="0.354" />
  <xacro:property name="wheel_pos_y" value="0.3265" />
  <xacro:property name="wheel_pos_z" value="0.0" />
  <xacro:property name="wheel_mass" value=".6" />
  <xacro:property name="wheel_torque" value="12" />

  <xacro:property name="laser_pose">
    <origin xyz="0.354 0 0.440" rpy="0 0 3.14"/>
  </xacro:property>

  <xacro:property name="depth_sensor_pose">
    <origin xyz="-0.065 0 0.255" rpy="0 0 0"/>
  </xacro:property>

  <xacro:property name="range_back_left_pose">
    <origin xyz="-0.543 0.205 0.298" rpy="0 0 -3.14"/>
  </xacro:property>

  <xacro:property name="range_back_right_pose">
    <origin xyz="-0.543 -0.205 0.298" rpy="0 0 -3.14"/>
  </xacro:property>

  <!-- OakD as depth sensor -->
  <xacro:property name="depth_camera_name" value="oak" />
  <xacro:property name="depth_camera_model" value="OAK-D" />
  <xacro:property name="depth_base_frame" value="front_oakd_base_link" />
  <xacro:property name="depth_parent_frame" value="base_link" />
  <xacro:property name="depth_cam_pos_x" value="0.254" />
  <xacro:property name="depth_cam_pos_y" value="0.0" />
  <xacro:property name="depth_cam_pos_z" value="0.620" />
  <xacro:property name="depth_cam_roll" value="0.0" />
  <xacro:property name="depth_cam_pitch" value="0.42" />
  <xacro:property name="depth_cam_yaw" value="0.0" />

</robot>
