[Desktop Entry]
Version=1.0
Name=Elsabot Jeep Bringup
Type=Application
Exec=gnome-terminal -e "bash -c '/home/ubuntu/jeep_ws/src/elsabot_jeep/desktop_startup/run_jeep.sh -b;$SHELL'" 
Terminal=false
StartupNotify=true

